<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">

    <a class="navbar-brand" href="/general"><i class="fa-solid fa-dice-d6"></i> Test analisis</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if user}}
          <li class="nav-item">
            <a class="navbar-brand" href="/logout">Cerrar sesión</a>
          </li>

          <li class="nav-item">
            <a class="navbar-brand" href="profile">Perfil</a>
          </li>

          {{else}}
           <a class="navbar-brand" href="/signin">Inciar sesión</a>

           <a class="navbar-brand" href="/signup">Registrarse</a>
        {{/if}}
      </ul>

    </div>
  </div>
</nav>

<div class="container p-4">
    <div class="row">
      <div class="col">

        <div class="title" id="title-general">
          <h1><b>Reta tu mente</b></h1>
        </div>

        <div class="text" id="text-general">
          <h3><b>Realiza los siguientes retos de secuencias y pon a prueba tu inteligencia</b></h3>
        </div>

        <div id="button-general">
          <a class="btn btn-primary" href="/test/questionOne" id="button-g">Iniciar prueba <i class="fa-solid fa-person-running" style="margin-left: 3%;"></i></a>
        </div>
      </div>

      <div class="col">
          <img src="/img/general.jpg" alt="" id="img-general">
      </div>
    </div>
</div>