<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center" style="margin-top: 15%;">
            <h1 class="mb-1"><b>Test analisis</b></h1>

            <a href="general" class="btn btn-primary">Comenzar</a>
        </div>
    </header>
</main>