<h1>Aqui va el reto 2</h1>

<div class="containter p-4">
  <div class="row">
    <div class="col-4">
      <img src="/img/x.jpg" alt="">
    </div>

    <div class="col">
      <img src="/img/y.png" alt="" style="width: 420px; height: 318px;">
    </div>
  </div>
</div>